@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

html, body, #root {
    @apply bg-black text-white min-h-screen;
    
}

@theme {
    --font-grif: "Griffy",system-ui;
    --font-mont: "Montserrat",sans-serif;

}